USE [DYY]
GO
/****** Object:  Table [dbo].[UserBal]    Script Date: 2017/5/24 23:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBal](
	[UserName] [nvarchar](50) NOT NULL,
	[Bal] [decimal](38, 6) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2017/5/24 23:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserName] [nvarchar](50) NOT NULL,
	[Pwd] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[Power] [int] NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserInfoAll]    Script Date: 2017/5/24 23:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UserInfoAll]
AS
SELECT   dbo.UserInfo.UserName, dbo.UserInfo.Pwd, dbo.UserInfo.Status, dbo.UserInfo.Power, dbo.UserBal.Bal
FROM      dbo.UserInfo INNER JOIN
                dbo.UserBal ON dbo.UserInfo.UserName = dbo.UserBal.UserName
GO
/****** Object:  Table [dbo].[Film]    Script Date: 2017/5/24 23:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[FilmID] [int] NOT NULL,
	[FilmName] [varchar](50) NULL,
	[ReleaseDate] [char](8) NULL,
	[CloseDate] [char](8) NULL,
	[Star] [varchar](100) NULL,
	[Director] [varchar](100) NULL,
	[Content] [varchar](1000) NULL,
	[Length] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmListing]    Script Date: 2017/5/24 23:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmListing](
	[ListingID] [int] NOT NULL,
	[HallID] [int] NULL,
	[Date] [char](8) NULL,
	[Number] [int] NULL,
	[FilmID] [int] NULL,
	[StratTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[Price] [float] NULL,
	[FinishStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ListingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewFilmListing]    Script Date: 2017/5/24 23:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewFilmListing]
AS
SELECT   b.FilmName, a.ListingID, a.HallID, a.Date, a.Number, a.FilmID, a.StratTime, a.EndTime, a.Price
FROM      dbo.FilmListing AS a LEFT OUTER JOIN
                dbo.Film AS b ON a.FilmID = b.FilmID
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 2017/5/24 23:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[VideoHallID] [int] NOT NULL,
	[rows] [int] NULL,
	[columns] [int] NULL,
	[rowid] [int] NULL,
	[columnid] [int] NULL,
	[OpenTime] [time](7) NULL,
	[CloseTime] [time](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmComment]    Script Date: 2017/5/24 23:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmComment](
	[CommentID] [int] NOT NULL,
	[FilmID] [int] NULL,
	[FilmName] [varchar](50) NULL,
	[CommentTime] [smalldatetime] NULL,
	[UserName] [varchar](50) NULL,
	[CommentLev] [int] NULL,
	[CommentContent] [varchar](1000) NULL,
 CONSTRAINT [PK__FilmComm__C3B4DFAA399A4F80] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 2017/5/24 23:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[ListingID] [int] NULL,
	[FilmID] [int] NULL,
	[FileName] [nchar](10) NULL,
	[HallID] [int] NULL,
	[Date] [char](8) NULL,
	[StartTime] [time](4) NULL,
	[EndTime] [time](4) NULL,
	[Rows] [int] NULL,
	[Columns] [int] NULL,
	[RowID] [int] NULL,
	[ColumnID] [int] NULL,
	[Price] [decimal](38, 6) NULL,
	[SellStatus] [int] NULL,
	[UserName] [varchar](50) NULL,
 CONSTRAINT [PK__Seats__311713D3DAA90577] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[value]    Script Date: 2017/5/24 23:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[value](
	[ID] [int] NULL,
	[rowid] [int] NULL,
	[columnid] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Cinema] ([VideoHallID], [rows], [columns], [rowid], [columnid], [OpenTime], [CloseTime]) VALUES (3, 20, 20, 1, 1, CAST(N'08:00:00' AS Time), CAST(N'23:30:00' AS Time))
INSERT [dbo].[Cinema] ([VideoHallID], [rows], [columns], [rowid], [columnid], [OpenTime], [CloseTime]) VALUES (3, 20, 20, 1, 2, CAST(N'08:00:00' AS Time), CAST(N'23:30:00' AS Time))
INSERT [dbo].[Cinema] ([VideoHallID], [rows], [columns], [rowid], [columnid], [OpenTime], [CloseTime]) VALUES (3, 20, 20, 1, 3, CAST(N'08:00:00' AS Time), CAST(N'23:30:00' AS Time))
GO
INSERT [dbo].[Film] ([FilmID], [FilmName], [ReleaseDate], [CloseDate], [Star], [Director], [Content], [Length]) VALUES (1, N'西游记', N'20170501', N'20170531', N'孙悟空', N'吴承恩', N'神仙打妖怪', 2)
INSERT [dbo].[Film] ([FilmID], [FilmName], [ReleaseDate], [CloseDate], [Star], [Director], [Content], [Length]) VALUES (2, N'乘风破浪', N'20170201', N'20170228', N'彭于晏', N'韩寒', N'车祸穿越剧', 2)
INSERT [dbo].[Film] ([FilmID], [FilmName], [ReleaseDate], [CloseDate], [Star], [Director], [Content], [Length]) VALUES (3, N'叮当猫', N'20170515', N'20170630', N'大雄', N'藤子不二雄', N'拯救弱智儿童', 3)
INSERT [dbo].[FilmComment] ([CommentID], [FilmID], [FilmName], [CommentTime], [UserName], [CommentLev], [CommentContent]) VALUES (1, 1, N'西游记', CAST(N'2017-05-24T21:30:00' AS SmallDateTime), N'admin', 5, N'西游记，跑得快。')
INSERT [dbo].[FilmListing] ([ListingID], [HallID], [Date], [Number], [FilmID], [StratTime], [EndTime], [Price], [FinishStatus]) VALUES (1, 1, N'20170101', 1, 1, CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), 30, 1)
INSERT [dbo].[FilmListing] ([ListingID], [HallID], [Date], [Number], [FilmID], [StratTime], [EndTime], [Price], [FinishStatus]) VALUES (2, 1, N'20170101', 2, 2, CAST(N'10:30:00' AS Time), CAST(N'13:00:00' AS Time), 35, 1)
INSERT [dbo].[FilmListing] ([ListingID], [HallID], [Date], [Number], [FilmID], [StratTime], [EndTime], [Price], [FinishStatus]) VALUES (3, 2, N'20170101', 1, 3, CAST(N'08:00:00' AS Time), CAST(N'10:30:00' AS Time), 40, 1)
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([TicketID], [ListingID], [FilmID], [FileName], [HallID], [Date], [StartTime], [EndTime], [Rows], [Columns], [RowID], [ColumnID], [Price], [SellStatus], [UserName]) VALUES (14061, 1, 1, N'西游记       ', 1, N'20170101', CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), 10, 10, 1, 1, CAST(30.000000 AS Decimal(38, 6)), 1, N'admnin')
INSERT [dbo].[Tickets] ([TicketID], [ListingID], [FilmID], [FileName], [HallID], [Date], [StartTime], [EndTime], [Rows], [Columns], [RowID], [ColumnID], [Price], [SellStatus], [UserName]) VALUES (14062, 1, 1, N'西游记       ', 1, N'20170101', CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), 10, 10, 1, 2, CAST(30.000000 AS Decimal(38, 6)), 0, NULL)
INSERT [dbo].[Tickets] ([TicketID], [ListingID], [FilmID], [FileName], [HallID], [Date], [StartTime], [EndTime], [Rows], [Columns], [RowID], [ColumnID], [Price], [SellStatus], [UserName]) VALUES (14063, 1, 1, N'西游记       ', 1, N'20170101', CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), 10, 10, 1, 3, CAST(30.000000 AS Decimal(38, 6)), 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Tickets] OFF
INSERT [dbo].[UserBal] ([UserName], [Bal]) VALUES (N'admin', CAST(140.000000 AS Decimal(38, 6)))
INSERT [dbo].[UserBal] ([UserName], [Bal]) VALUES (N'cust', CAST(0.000000 AS Decimal(38, 6)))
INSERT [dbo].[UserBal] ([UserName], [Bal]) VALUES (N'lol', CAST(0.000000 AS Decimal(38, 6)))
INSERT [dbo].[UserInfo] ([UserName], [Pwd], [Status], [Power]) VALUES (N'admin', N'e10adc3949ba59abbe56e057f20f883e', 1, 0)
INSERT [dbo].[UserInfo] ([UserName], [Pwd], [Status], [Power]) VALUES (N'cust', N'888888', 1, 0)
INSERT [dbo].[UserInfo] ([UserName], [Pwd], [Status], [Power]) VALUES (N'lol', N'888888', 1, 0)
INSERT [dbo].[value] ([ID], [rowid], [columnid]) VALUES (1, 1, 1)
INSERT [dbo].[value] ([ID], [rowid], [columnid]) VALUES (1, 2, 2)
INSERT [dbo].[value] ([ID], [rowid], [columnid]) VALUES (1, 3, 3)
/****** Object:  StoredProcedure [dbo].[更新影票状态]    Script Date: 2017/5/24 23:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[更新影票状态]

AS
BEGIN
insert Tickets
(
	   [FileName] 
	  ,[ListingID]
	  ,[FilmID]
	  ,[HallID]
      ,[Date]
      ,[StartTime]
      ,[EndTime]
	  ,[Rows]
	  ,[Columns]
      ,[RowID]
      ,[ColumnID]
      ,[Price]
      ,[SellStatus]	
)
SELECT  c.FilmName
	  ,a.ListingID
	  ,a.FilmID
      ,[HallID]
      ,[Date]
      ,[StratTime]
      ,[EndTime]
	  ,b.rows
	  ,b.columns
	  ,b.rowid
	  ,b.columnid	  
      ,[Price]
	  ,'0' as SellStatus
  FROM [DYY].[dbo].[FilmListing] a
  left join Cinema b
  on a.HallID=b.VideoHallID
  left join Film c
  on a.FilmID=c.FilmID
  where a.finishStatus='0'
  order by date,ListingID,b.rowid,b.columnid
  ;
  update FilmListing
  set finishStatus='1'
  where FinishStatus='0'
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影院信息表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cinema'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电影类' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Film'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电影评论表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FilmComment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'放映厅编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FilmListing', @level2type=N'COLUMN',@level2name=N'HallID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'场次顺序号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FilmListing', @level2type=N'COLUMN',@level2name=N'Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'场次表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FilmListing'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'座位信息表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Tickets'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "UserInfo"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 189
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "UserBal"
            Begin Extent = 
               Top = 6
               Left = 227
               Bottom = 108
               Right = 378
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'UserInfoAll'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'UserInfoAll'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "a"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 182
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "b"
            Begin Extent = 
               Top = 6
               Left = 220
               Bottom = 146
               Right = 381
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewFilmListing'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewFilmListing'
GO
